.flex{
    display: flex;
    justify-content: center;
    padding-top: 27vh;
}
div.Calculator{
    height: 12em;
    width: 39em;
    text-align: center;
    border: 2px solid black;
    font-family: monospace;
}

.heading, .result{
    border-bottom: 1px solid black;
    margin: 0 0 2.3em 0;
}

.button{
    margin-right: 4em;
    margin-left: 4em;
    padding: 0.5em 0.8em;
    border-radius: 0.7em;
    border-style: none;
    background-color: cadetblue;
    color: white;
    font-family: sans-serif;
    
}
.button:hover{
    
    border-radius: 0.7em;
    border-style: none;
    background-color: rgb(73, 140, 142);
    color: white;
    font-family: sans-serif;
}

.button:active {
    border-style: none;
    background-color: rgb(71, 95, 96);
    color: white;
    font-family: sans-serif;
}

.result{
    padding: 0.5rem 0;
    margin-top: 31px;
    margin-left: -2px;
    margin-right: -2px;
    border: 2px solid black;
}
